{% extends 'base.html' %}

{% block title %}Audios{% endblock %}

{% block content %}
<h1 style="text-align: center; margin-bottom: 20px;">
    Audios{% if status %} - {{ status|title }}{% endif %}
    Jami {{ count }} ta audio {{ total_duration }} s
</h1>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    ul.audio-list {
        list-style: none;
        padding: 0;
        max-width: 700px;
        margin: 0 auto;
    }

    ul.audio-list li {
        background: #fff;
        border-radius: 12px;
        padding: 15px 20px;
        margin-bottom: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    ul.audio-list li strong {
        font-weight: bold;
        color: #333;
    }

    audio {
        width: 100%;
        outline: none;
        border-radius: 8px;
        background-color: #eee;
    }

    .audio-info {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #555;
        align-items: center;
    }

    .status-buttons button {
        margin-left: 5px;
        padding: 4px 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
    }

    .status-approved { background-color: #4CAF50; color: white; }
    .status-pending { background-color: #FFC107; color: white; }
    .status-rejected { background-color: #F44336; color: white; }
    .status-get {background-color: #4c61af; color: white;}
    .status-send {background-color: #d60606; color: white;}

</style>

<ul class="audio-list">
    {% for audio in audios %}
        <li>
            {% if audio.audio_file %}
                <strong>{{ audio.audio_file.name }} ({{ audio.audio_author.username }}) {{ audio.created_at }}</strong>
                <audio controls preload="auto">
                    <source src="{{ audio.audio_file.url }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            {% if status == 'processing' %}
                <div class="status-buttons">
                   <form action="{% url 'add_transcript' audio.id %}" method="post">
                        {% csrf_token %}
                       <input
                            name="transcript"
                            placeholder="Enter transcript..."
                            style="width: 95%; padding: 10px; font-size:16px; border-radius:8px; border:1px solid #ccc;"
                        >
                        <input type="hidden" name="status" value="{{ status }}">
                        <button type="submit" class="status-pending">Send</button>
                    </form>
                </div>
            {% endif %}
            {% else %}
                No file
            {% endif %}
            <div class="audio-info">
                <div>
                    {% if audio.transcript %}
                        {{ audio.transcript }}
                    {% else %}
                        No text
                    {% endif %}
                </div>
                {% if user.is_staff %}
                <!-- Admin status buttons -->
                <div class="status-buttons">
                    <form action="{% url 'update_audio_status' audio.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="approved">
                        <input type="hidden" name="status_url" value="{{ status }}">
                        <button type="submit" class="status-approved">Approve</button>
                    </form>
                    <form action="{% url 'update_audio_status' audio.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="rejected">
                        <input type="hidden" name="status_url" value="{{ status }}">
                        <button type="submit" class="status-rejected">Reject</button>
                    </form>
                    {% if status == 'finished' %}
                    <form action="{% url 'get_transcript' audio.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="rejected">
                        <input type="hidden" name="status_url" value="{{ status }}">
                        <button type="submit" class="status-get">Get text</button>
                    </form>
                    {% if user.profile.role == 'superadmin' and status == 'processing' %}
                    <form action="{% url 'send_transcript' audio.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="rejected">
                        <input type="hidden" name="status_url" value="{{ status }}">
                        <button type="submit" class="status-send">Send Aisha</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </li>
    {% empty %}
        <li>No audios found.</li>
    {% endfor %}
</ul>
{% endblock %}
